/*
colors: 
dark blue: #444EAD
medium blue: #3598DB
light blue: #14C7DE
green: #19B091
Purple: #B09CFF
grey: #515D5D
*/

body {
  color: #515D5D;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  
}
nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 50px;
  align-items: center;
  background: #ffffff;
  margin-top: -50px;
  height: 50px;
  width: 100%;
  overflow: hidden;
  position: sticky;
  top: 0;
}

nav div {
  padding: 15px 0px;
  list-style: none;
  
}

nav div a {
  text-decoration: none;
  color: #515D5D;
  text-transform: uppercase;
  text-size: 0.7em;
}

nav div a:hover {
  color: #000000;
}

#home {
  line-height: 3em;
  background: linear-gradient(35deg, #14c7de, #19b091);
  background-attachment: fixed;
  padding-top: 25vh;
  min-height: 75vh; 
}

#home img {
  display: inline-block;
  width: 15%;
  max-width: 250px;
  border-radius: 50%;
  border: 8px solid white;
  
  
}

#home h1{
  color: white;
}

#home p {
  line-height: 1em;
  margin-bottom: 30px;
  color: white;
}

#home a {
  padding: 10px 20px;
  border-radius: 25px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background: #ffffff;
  color: #515D5D;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.7em;
}

#home a:hover {
  background-color: #19b091;
  color: white;
  border: 2px solid white;
}
  
  section {
    color: #515D5D;
    height: auto;
    padding-top: 50px;
    margin-bottom: 50px;
    
  }  
.section-div {
  width: 75%;
  max-width: 1000px;
  background-color: rgb(240,240,240);
  border-radius: 10px;
  color: #515D5D;
  margin: auto;
  height: auto;
  padding: 20px;
  padding-bottom: 50px;
  text-align: left;
  }  

#div-bio {
  display: grid;
  grid-template-columns: 25px 1fr 2fr 25px;
  grid-template-rows: 75px 350px auto;
  grid-gap: 1em;
  
}

#bio-header {
  grid-column: 2/4;
  grid-row: 1/2;
  align-self: center; 
}

#bio-icon{
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: left;
  
}

#bio-icon img {
  width: 100%;
  max-width: 250px;
  border-radius: 5px;
}

#bio-description {
  grid-column: 3/4;
  grid-row: 2/4;
}

#bio-resume {
  grid-column: 2/3;
  grid-row: 3/4;
  
}
#bio-resume a {
  text-decoration: none;
  color: #515D5D;
}

#bio-resume a:hover {
  color: black;
}

#bio-map {
  width: 70%;
  height: auto;
  min-height: 350px;
  border: none;
  border-radius: 5px;
}

#div-projects {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  grid-template-rows: 75px auto;
  grid-gap: 1em;
}

#projects-header {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
}

#projects-content {
  grid-column: 2/3;
  grid-row: 2/3;
}

#div-opinion {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  grid-template-rows: 75px auto;
  grid-gap: 1em;
}

#opinion-header {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
}

#opinion-content {
  grid-column: 2/3;
  grid-row: 2/3;
}

#div-reviews {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  grid-template-rows: 75px auto;
  grid-gap: 1em;
}

#reviews-header {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
}

#reviews-content {
  grid-column: 2/3;
  grid-row: 2/3;
}

#div-sports {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  grid-template-rows: 75px auto;
  grid-gap: 1em;
}

#sports-header {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
}

#sports-content {
  grid-column: 2/3;
  grid-row: 2/3;
}

footer {
  height: 80px;
  background: linear-gradient(35deg, #14c7de, #19b091);
  padding-top: 10px;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}
  
#footer-social-top {
  color: white;
  font-size: 1.5em;
  grid-column:1/2;
  grid-row: 1/2;
  align-self: center;
}

.footer-social-links {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
}

.footer-social-links a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer-shoutout {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: end;
  color: white;
}  
.footer-shoutout a {
  text-decoration: none;
  color: white;
}

.footer-shoutout a:hover {
  color: #444EAD;
}
